@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    overflow-x: hidden;
    max-width: 100%!important;
    margin: 0 0!important;
    padding: 0rem!important; 
    text-align: center;
}
body{
    overflow-x: hidden;
}